# Getränke

In [1]:
# Hier ist nur Code zum Initialisieren der Umgebeung, bitte gehen Sie weiter, es gibt nichts zu sehen.

# Keine langen Fehlermeldungen
import sys
ipython = get_ipython()

def exception_handler(exception_type, exception, traceback):
    print("%s: %s" % (exception_type.__name__, exception), file=sys.stderr)

ipython._showtraceback = exception_handler

# Lade die Erweiterung, damit wir SQL Befehle nutzen können
%reload_ext sql
%sql sqlite://
%sql PRAGMA foreign_keys = ON

 * sqlite://
Done.

[]

In [2]:
%%sql

DROP TABLE IF EXISTS RecipeIngredient;
DROP TABLE IF EXISTS Ingredient;
DROP TABLE IF EXISTS Recipe;

CREATE TABLE Ingredient (
id INTEGER NOT NULL PRIMARY KEY,
name  TEXT NOT NULL
);

CREATE TABLE Recipe (
id INTEGER NOT NULL PRIMARY KEY,
name  TEXT NOT NULL
);

CREATE TABLE RecipeIngredient (
recipe  INTEGER NOT NULL,
ingredient  INTEGER NOT NULL,
PRIMARY KEY (recipe, ingredient),
CONSTRAINT fkRecipeIngredientRecipe FOREIGN KEY (recipe) REFERENCES Recipe (id) ON DELETE CASCADE ON UPDATE CASCADE,
CONSTRAINT fkRecipeIngredientIngredient FOREIGN KEY (ingredient) REFERENCES Ingredient (id) ON DELETE CASCADE ON UPDATE CASCADE
);

INSERT INTO Ingredient('name') VALUES ('Vodka'), ('Rum'), ('Sherry'), ('Whiskey'), ('Cherry'), ('Orange'), ('Olive'), ('Gin'), ('Lemon Juice'), ('Orange Gin'), ('Sweet Vermouth'), ('7-Up'), ('Cranberry Juice'), ('Dekuyper Razzmatazz'), ('Orange Juice'), ('Sour Mix'), ('Dry Cider'), ('Lager'), ('Sloe Gin'), ('Southern Comfort'), ('Triple Sec'), ('Blue Curacao'), ('Lime Juice'), ('Red Curacao'), ('Tequila');
INSERT INTO Recipe('name') VALUES ('Leap Year Cocktail'), ('Purple Gecko'), ('Slow Comfortable Screw In Between the Sheets'), ('Snakebite (UK)'), ('Stoner Delight'), ('Vodka'), ('Tequila'), ('Whiskey');

INSERT INTO RecipeIngredient VALUES (1, 9), (1, 8), (1, 10), (1, 11), (2, 22), (2, 13), (2, 23), (2, 24), (2, 16), (2, 25), (3, 15), (3, 19), (3, 20), (3, 21), (3, 1), (4, 17), (4, 18), (5, 12), (5, 13), (5, 14), (5, 15), (5, 16), (5, 1), (6, 1), (7, 25), (8, 4);

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
25 rows affected.
8 rows affected.
26 rows affected.

[]

In [4]:
%%sql

SELECT * FROM Ingredient LIMIT 5;

 * sqlite://
Done.

[(1, 'Vodka'), (2, 'Rum'), (3, 'Sherry'), (4, 'Whiskey'), (5, 'Cherry')]

In [5]:
%%sql

SELECT * FROM Recipe LIMIT 5;

 * sqlite://
Done.

[(1, 'Leap Year Cocktail'),
 (2, 'Purple Gecko'),
 (3, 'Slow Comfortable Screw In Between the Sheets'),
 (4, 'Snakebite (UK)'),
 (5, 'Stoner Delight')]

In [9]:
%%sql

SELECT * FROM RecipeIngredient LIMIT 10;

 * sqlite://
Done.

[(1, 9),
 (1, 8),
 (1, 10),
 (1, 11),
 (2, 22),
 (2, 13),
 (2, 23),
 (2, 24),
 (2, 16),
 (2, 25)]

In [15]:
%%sql

SELECT recipe, GROUP_CONCAT(ingredient, ', ') AS ingredients
FROM RecipeIngredient
GROUP BY recipe;

 * sqlite://
Done.

[(1, '8, 9, 10, 11'),
 (2, '13, 16, 22, 23, 24, 25'),
 (3, '1, 15, 19, 20, 21'),
 (4, '17, 18'),
 (5, '1, 12, 13, 14, 15, 16'),
 (6, '1'),
 (7, '25'),
 (8, '4')]

## Aufgabe 1: Finden Sie Alle Zutaten des "Leap Year Coctail"s

In [23]:
%%sql

SELECT Recipe.Name AS 'Recipe Name', GROUP_CONCAT(Ingredient.Name, ', ') AS 'Ingredient Name'
FROM Recipe
JOIN RecipeIngredient ON(Recipe.id = RecipeIngredient.recipe)
JOIN Ingredient ON(Ingredient.id = RecipeIngredient.ingredient)
WHERE Recipe.Name = 'Leap Year Cocktail'

 * sqlite://
Done.

[('Leap Year Cocktail', 'Lemon Juice, Gin, Orange Gin, Sweet Vermouth')]

## Aufgabe 2: Finden Sie Alle Coctails, die Vodka enthalten

In [25]:
%%sql

SELECT Recipe.Name AS 'Recipe Name'
FROM Recipe
JOIN RecipeIngredient ON(Recipe.id = RecipeIngredient.recipe)
JOIN Ingredient ON(Ingredient.id = RecipeIngredient.ingredient)
WHERE Ingredient.name = 'Vodka'

 * sqlite://
Done.

[('Slow Comfortable Screw In Between the Sheets',),
 ('Stoner Delight',),
 ('Vodka',)]

## Aufgabe 3: Finden Sie die häufigste Zutat

In [32]:
%%sql

SELECT Ingredient.name, COUNT(*) as 'quantity'
FROM RecipeIngredient JOIN Ingredient ON(ingredient.id = RecipeIngredient.ingredient)
GROUP BY Ingredient.name
ORDER BY quantity DESC
LIMIT 1

 * sqlite://
Done.

[('Vodka', 3)]

## Aufgabe 4: Finden Sie Coctails, die, die Zutat 'Gin' *nicht* enthalten

Hier ist zu sagen, dass das Nichtenthalten von Elemeneten in SQL nicht trivial ist. Der naive Ansatz:

```
SELECT r.name 
FROM Recipe r 
JOIN RecipeIngredient ri ON (r.id = ri.recipe) 
JOIN Ingredient i ON (ri.ingredient = i.id) 
WHERE i.name != 'Gin'
```
nicht.

In [33]:
%%sql

SELECT r.name 
FROM Recipe r 
JOIN RecipeIngredient ri ON (r.id = ri.recipe) 
JOIN Ingredient i ON (ri.ingredient = i.id) 
WHERE i.name != 'Gin'

 * sqlite://
Done.

[('Leap Year Cocktail',),
 ('Leap Year Cocktail',),
 ('Leap Year Cocktail',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Snakebite (UK)',),
 ('Snakebite (UK)',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Vodka',),
 ('Tequila',),
 ('Whiskey',)]

*Aufgabe 4.1: Machen Sie sich bewusst, warum obiges Statement nicht funktioniert*

The reason this approach doesn't work as intended is because the WHERE clause filters out individual recipe-ingredient pairs where the ingredient is 'Gin', but it does not exclude entire recipes that contain 'Gin' as one of several ingredients. If a recipe has multiple ingredients and one of them is 'Gin', that recipe will still appear in the results if there are other ingredients for the same recipe that are not 'Gin'.

*Aufgabe 4.2: Nutzen Sie einen Subselect, um die Cocktails zu filtern*

In [42]:
%%sql

SELECT Recipe.name AS 'Recipe Name'
FROM Recipe
WHERE NOT EXISTS(
    SELECT 1
    FROM RecipeIngredient
    JOIN Ingredient ON(Ingredient.id = RecipeIngredient.ingredient)
    WHERE(Recipe.id = RecipeIngredient.Recipe) AND (Ingredient.name = 'Gin')
)

 * sqlite://
Done.

[('Purple Gecko',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Snakebite (UK)',),
 ('Stoner Delight',),
 ('Vodka',),
 ('Tequila',),
 ('Whiskey',)]

In [44]:
%%sql

-- Alternative 

SELECT
r.name
FROM Recipe r
WHERE r.id NOT IN (
SELECT
ri.recipe
FROM RecipeIngredient ri
JOIN Ingredient i
ON (i.id = ri.ingredient)
WHERE
i.name = 'Gin'
);

 * sqlite://
Done.

[('Purple Gecko',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Snakebite (UK)',),
 ('Stoner Delight',),
 ('Vodka',),
 ('Tequila',),
 ('Whiskey',)]

*Aufgabe 4.2: Nutzen Sie das Kreuzprodukt, um die Coctails zu filtern*

In [53]:
%%sql

SELECT Recipe.name AS 'Recipe Name'
FROM Recipe, Ingredient
LEFT JOIN RecipeIngredient ON(Ingredient.id = RecipeIngredient.ingredient AND Recipe.id = RecipeIngredient.recipe) 
WHERE Ingredient.name = 'Gin' AND RecipeIngredient.recipe IS NULL;

 * sqlite://
Done.

[('Purple Gecko',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Snakebite (UK)',),
 ('Stoner Delight',),
 ('Vodka',),
 ('Tequila',),
 ('Whiskey',)]

*Aufgabe 4.3: geht das mit aggregate und filter?, um die Coctails zu filtern*

Aggregationsfunktionen, wie SUM, COUNT etc. unterstützen seit SQL:2003 eine `FILTER` clause, die es erlaubt Ergebnisse aus der Aggregation zu entfernen [Filter Clause auf dieser seite](https://sqlite.org/lang_aggfunc.html)

## Aufgabe 5: Wie viele Zutaten hat mein Getränk eigentlich und welche?

Lösbar via gruppierung --> Eine Zeile Pro Coktail. Oder mit mehreren Zielen via subselects oder fensterfunktionen