# Getränke

## Table of Contents

[1. GPT-Generated Questions](#gpt-generated-questions)

In [1]:
# Hier ist nur Code zum Initialisieren der Umgebeung, bitte gehen Sie weiter, es gibt nichts zu sehen.

# Keine langen Fehlermeldungen
import sys
ipython = get_ipython()

def exception_handler(exception_type, exception, traceback):
    print("%s: %s" % (exception_type.__name__, exception), file=sys.stderr)

ipython._showtraceback = exception_handler

# Lade die Erweiterung, damit wir SQL Befehle nutzen können
%reload_ext sql
%sql sqlite://
%sql PRAGMA foreign_keys = ON

 * sqlite://
Done.

[]

In [2]:
%%sql

DROP TABLE IF EXISTS RecipeIngredient;
DROP TABLE IF EXISTS Ingredient;
DROP TABLE IF EXISTS Recipe;

CREATE TABLE Ingredient (
id INTEGER NOT NULL PRIMARY KEY,
name  TEXT NOT NULL
);

CREATE TABLE Recipe (
id INTEGER NOT NULL PRIMARY KEY,
name  TEXT NOT NULL
);

CREATE TABLE RecipeIngredient (
recipe  INTEGER NOT NULL,
ingredient  INTEGER NOT NULL,
PRIMARY KEY (recipe, ingredient),
CONSTRAINT fkRecipeIngredientRecipe FOREIGN KEY (recipe) REFERENCES Recipe (id) ON DELETE CASCADE ON UPDATE CASCADE,
CONSTRAINT fkRecipeIngredientIngredient FOREIGN KEY (ingredient) REFERENCES Ingredient (id) ON DELETE CASCADE ON UPDATE CASCADE
);

INSERT INTO Ingredient('name') VALUES ('Vodka'), ('Rum'), ('Sherry'), ('Whiskey'), ('Cherry'), ('Orange'), ('Olive'), ('Gin'), ('Lemon Juice'), ('Orange Gin'), ('Sweet Vermouth'), ('7-Up'), ('Cranberry Juice'), ('Dekuyper Razzmatazz'), ('Orange Juice'), ('Sour Mix'), ('Dry Cider'), ('Lager'), ('Sloe Gin'), ('Southern Comfort'), ('Triple Sec'), ('Blue Curacao'), ('Lime Juice'), ('Red Curacao'), ('Tequila');
INSERT INTO Recipe('name') VALUES ('Leap Year Cocktail'), ('Purple Gecko'), ('Slow Comfortable Screw In Between the Sheets'), ('Snakebite (UK)'), ('Stoner Delight'), ('Vodka'), ('Tequila'), ('Whiskey');

INSERT INTO RecipeIngredient VALUES (1, 9), (1, 8), (1, 10), (1, 11), (2, 22), (2, 13), (2, 23), (2, 24), (2, 16), (2, 25), (3, 15), (3, 19), (3, 20), (3, 21), (3, 1), (4, 17), (4, 18), (5, 12), (5, 13), (5, 14), (5, 15), (5, 16), (5, 1), (6, 1), (7, 25), (8, 4);

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
25 rows affected.
8 rows affected.
26 rows affected.

[]

In [3]:
%%sql

SELECT * FROM Ingredient

 * sqlite://
Done.

[(1, 'Vodka'),
 (2, 'Rum'),
 (3, 'Sherry'),
 (4, 'Whiskey'),
 (5, 'Cherry'),
 (6, 'Orange'),
 (7, 'Olive'),
 (8, 'Gin'),
 (9, 'Lemon Juice'),
 (10, 'Orange Gin'),
 (11, 'Sweet Vermouth'),
 (12, '7-Up'),
 (13, 'Cranberry Juice'),
 (14, 'Dekuyper Razzmatazz'),
 (15, 'Orange Juice'),
 (16, 'Sour Mix'),
 (17, 'Dry Cider'),
 (18, 'Lager'),
 (19, 'Sloe Gin'),
 (20, 'Southern Comfort'),
 (21, 'Triple Sec'),
 (22, 'Blue Curacao'),
 (23, 'Lime Juice'),
 (24, 'Red Curacao'),
 (25, 'Tequila')]

In [4]:
%%sql

SELECT * FROM Recipe

 * sqlite://
Done.

[(1, 'Leap Year Cocktail'),
 (2, 'Purple Gecko'),
 (3, 'Slow Comfortable Screw In Between the Sheets'),
 (4, 'Snakebite (UK)'),
 (5, 'Stoner Delight'),
 (6, 'Vodka'),
 (7, 'Tequila'),
 (8, 'Whiskey')]

In [5]:
%%sql

SELECT * FROM RecipeIngredient

 * sqlite://
Done.

[(1, 9),
 (1, 8),
 (1, 10),
 (1, 11),
 (2, 22),
 (2, 13),
 (2, 23),
 (2, 24),
 (2, 16),
 (2, 25),
 (3, 15),
 (3, 19),
 (3, 20),
 (3, 21),
 (3, 1),
 (4, 17),
 (4, 18),
 (5, 12),
 (5, 13),
 (5, 14),
 (5, 15),
 (5, 16),
 (5, 1),
 (6, 1),
 (7, 25),
 (8, 4)]

## Aufgabe 1: Finden Sie Alle Zutaten des "Leap Year Coctail"s ✅

In [6]:
%%sql

SELECT r.name Cocktail, i.name Ingredient
FROM Recipe r
LEFT JOIN RecipeIngredient ri
ON(r.id = ri.recipe)
LEFT JOIN Ingredient i
ON(ri.ingredient = i.id)
WHERE(r.name = 'Leap Year Cocktail')

 * sqlite://
Done.

[('Leap Year Cocktail', 'Gin'),
 ('Leap Year Cocktail', 'Lemon Juice'),
 ('Leap Year Cocktail', 'Orange Gin'),
 ('Leap Year Cocktail', 'Sweet Vermouth')]

## Aufgabe 2: Finden Sie Alle Cocktails, die Vodka enthalten ✅

In [7]:
%%sql

SELECT r.name Cocktail
FROM Recipe r
LEFT JOIN RecipeIngredient ri
ON(r.id = ri.recipe)
LEFT JOIN Ingredient i
ON(ri.ingredient = i.id)
WHERE(i.name = 'Vodka')

 * sqlite://
Done.

[('Slow Comfortable Screw In Between the Sheets',),
 ('Stoner Delight',),
 ('Vodka',)]

<details>
<summary>Suggested Answer</summary>

```sql
SELECT r.name as Cocktail, i.name as Zutat  
FROM Recipe r  
JOIN RecipeIngredient ri  
ON(r.id = ri.recipe)  
JOIN Ingredient i  
ON(i.id = ri.ingredient)  
WHERE i.name LIKE '%Vodka%'  
```

</details>

## Aufgabe 3: Finden Sie die häufigste Zutat ✅

In [8]:
%%sql

SELECT  ri.ingredient ID, i.name Name, COUNT(*) as Occurence
FROM RecipeIngredient ri
LEFT JOIN Ingredient i
ON(ri.ingredient = i.id)
GROUP BY Ingredient
ORDER BY Occurence DESC
LIMIT 1

 * sqlite://
Done.

[(1, 'Vodka', 3)]

## Aufgabe 4: Finden Sie Coctails, die, die Zutat 'Gin' *nicht* enthalten

Hier ist zu sagen, dass das Nichtenthalten von Elemeneten in SQL nicht trivial ist. Der naive Ansatz:

```
SELECT r.name 
FROM Recipe r 
JOIN RecipeIngredient ri ON (r.id = ri.recipe) 
JOIN Ingredient i ON (ri.ingredient = i.id) 
WHERE i.name != 'Gin'
```
nicht.

*Aufgabe 4.1: Machen Sie sich bewusst, warum obiges Statement nicht funktioniert* `DOCH` ✅

In [9]:
%%sql

SELECT r.name 
FROM Recipe r 
JOIN RecipeIngredient ri ON (r.id = ri.recipe) 
JOIN Ingredient i ON (ri.ingredient = i.id) 
WHERE i.name != 'Gin'

 * sqlite://
Done.

[('Leap Year Cocktail',),
 ('Leap Year Cocktail',),
 ('Leap Year Cocktail',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Purple Gecko',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Snakebite (UK)',),
 ('Snakebite (UK)',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Stoner Delight',),
 ('Vodka',),
 ('Tequila',),
 ('Whiskey',)]

*Aufgabe 4.2: Nutzen Sie einen Subselect, um die Cocktails zu filtern* ✅

In [10]:
%%sql

SELECT r.name
FROM Recipe r
WHERE r.id NOT IN (
    SELECT ri.recipe
    FROM RecipeIngredient ri
    LEFT JOIN Ingredient i
    ON(ri.ingredient = i.id)
    WHERE i.name = 'Gin'
)

 * sqlite://
Done.

[('Purple Gecko',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Snakebite (UK)',),
 ('Stoner Delight',),
 ('Vodka',),
 ('Tequila',),
 ('Whiskey',)]

*Aufgabe 4.2: Nutzen Sie das Kreuzprodukt, um die Coctails zu filtern* ✅

In [11]:
%%sql

SELECT r.name
FROM Recipe r
WHERE r.id NOT IN (
    SELECT DISTINCT r.id
    FROM Recipe r
    CROSS JOIN Ingredient i
    JOIN RecipeIngredient ri 
    ON r.id = ri.recipe AND i.id = ri.ingredient
    WHERE i.name = 'Gin'
)

 * sqlite://
Done.

[('Purple Gecko',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Snakebite (UK)',),
 ('Stoner Delight',),
 ('Vodka',),
 ('Tequila',),
 ('Whiskey',)]

*Aufgabe 4.3: geht das mit aggregate und filter?, um die Coctails zu filtern*

Aggregationsfunktionen, wie SUM, COUNT etc. unterstützen seit SQL:2003 eine `FILTER` clause, die es erlaubt Ergebnisse aus der Aggregation zu entfernen [Filter Clause auf dieser seite](https://sqlite.org/lang_aggfunc.html)

In [12]:
%%sql

SELECT
r.name,
GROUP_CONCAT(i.name, ', ') ingredients
FROM Recipe r
JOIN RecipeIngredient ri ON (r.id = ri.recipe)
JOIN Ingredient i ON (ri.ingredient = i.id)
GROUP BY r.name
HAVING(COUNT(i.name) FILTER (WHERE i.name LIKE "%Gin%") = 0);

 * sqlite://
Done.

[('Purple Gecko', 'Blue Curacao, Cranberry Juice, Lime Juice, Red Curacao, Sour Mix, Tequila'),
 ('Snakebite (UK)', 'Dry Cider, Lager'),
 ('Stoner Delight', '7-Up, Cranberry Juice, Dekuyper Razzmatazz, Orange Juice, Sour Mix, Vodka'),
 ('Tequila', 'Tequila'),
 ('Vodka', 'Vodka'),
 ('Whiskey', 'Whiskey')]

## Aufgabe 5: Wie viele Zutaten hat mein Getränk eigentlich und welche? ✅

Lösbar via gruppierung --> Eine Zeile Pro Coktail. Oder mit mehreren Zielen via subselects oder fensterfunktionen

In [13]:
%%sql

SELECT r.name, GROUP_CONCAT(i.name, ', ') ingredients, COUNT(r.name) as Occurence
FROM Recipe r
JOIN RecipeIngredient ri ON (r.id = ri.recipe)
JOIN Ingredient i ON (ri.ingredient = i.id)
GROUP BY r.name
-- ORDER BY r.name DESC

 * sqlite://
Done.

[('Leap Year Cocktail', 'Lemon Juice, Gin, Orange Gin, Sweet Vermouth', 4),
 ('Purple Gecko', 'Blue Curacao, Cranberry Juice, Lime Juice, Red Curacao, Sour Mix, Tequila', 6),
 ('Slow Comfortable Screw In Between the Sheets', 'Orange Juice, Sloe Gin, Southern Comfort, Triple Sec, Vodka', 5),
 ('Snakebite (UK)', 'Dry Cider, Lager', 2),
 ('Stoner Delight', '7-Up, Cranberry Juice, Dekuyper Razzmatazz, Orange Juice, Sour Mix, Vodka', 6),
 ('Tequila', 'Tequila', 1),
 ('Vodka', 'Vodka', 1),
 ('Whiskey', 'Whiskey', 1)]

## **GPT-Generated Questions**

#### **1. List the names of all ingredients that are used in more than one recipe. Order the results in descending order by ingredient name.** ✅

In [14]:
%%sql

SELECT i.name Ingredients, COUNT(i.name) as Occurence
FROM Ingredient i
JOIN RecipeIngredient ri
ON(i.id = ri.ingredient)
GROUP BY i.name
HAVING COUNT(i.name) > 1
ORDER BY i.name DESC

 * sqlite://
Done.

[('Vodka', 3),
 ('Tequila', 2),
 ('Sour Mix', 2),
 ('Orange Juice', 2),
 ('Cranberry Juice', 2)]

<details>
<summary>Answer</summary>

```sql
SELECT i.name, COUNT(*) as recipe_count
FROM Ingredient i
JOIN RecipeIngredient ri ON i.id = ri.ingredient
GROUP BY i.name
HAVING COUNT(*) > 1
ORDER BY i.name DESC;
```

</details>

#### **2. Find the names of all recipes and the number of ingredients they contain, and order the results by the number of ingredients in descending order.** ✅

In [15]:
%%sql

SELECT r.name 'Recipe Name', COUNT(*) as 'Number of Ingredients'
FROM Recipe r
JOIN RecipeIngredient ri
ON(ri.recipe = r.id)
GROUP BY ri.recipe
ORDER BY COUNT(*) DESC

 * sqlite://
Done.

[('Purple Gecko', 6),
 ('Stoner Delight', 6),
 ('Slow Comfortable Screw In Between the Sheets', 5),
 ('Leap Year Cocktail', 4),
 ('Snakebite (UK)', 2),
 ('Vodka', 1),
 ('Tequila', 1),
 ('Whiskey', 1)]

<details>
<summary>Answer</summary>

```sql
SELECT r.name, COUNT(ri.ingredient) as ingredient_count
FROM Recipe r
JOIN RecipeIngredient ri ON r.id = ri.recipe
GROUP BY r.name
ORDER BY ingredient_count DESC;
```

</details>

#### **3. List the names of recipes that have at least one ingredient that is not used in any other recipe. Order the results in descending order by recipe name.** ✅

In [16]:
%%sql

SELECT r.name 'Recipe'
FROM Ingredient i
JOIN RecipeIngredient ri
ON(i.id = ri.ingredient)
JOIN Recipe r
ON(ri.recipe = r.id)
WHERE i.id IN (
    SELECT i.id
    FROM Ingredient i
    LEFT JOIN RecipeIngredient ri
    ON(i.id = ri.ingredient)
    GROUP BY i.id
    HAVING COUNT(ri.recipe) > 0 AND COUNT(ri.recipe) < 2
)
GROUP BY r.name
ORDER BY r.name DESC

 * sqlite://
Done.

[('Whiskey',),
 ('Stoner Delight',),
 ('Snakebite (UK)',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Purple Gecko',),
 ('Leap Year Cocktail',)]

<details>
<summary>Answer</summary>

```sql
SELECT r.name
FROM Recipe r
JOIN RecipeIngredient ri ON r.id = ri.recipe
JOIN Ingredient i ON ri.ingredient = i.id
WHERE i.id IN (
    SELECT i.id
    FROM Ingredient i
    LEFT JOIN RecipeIngredient ri ON i.id = ri.ingredient
    GROUP BY i.id
    HAVING COUNT(DISTINCT ri.recipe) = 1
)
GROUP BY r.name
ORDER BY r.name DESC;
```

</details>

#### **4. For each ingredient, list the total number of recipes it is used in and the total number of recipes it is not used in.** ✅

In [17]:
%%sql

SELECT i.name 'Ingredients', GROUP_CONCAT(r.name, ', ') 'Recipe Name', COUNT(r.name) 'Used',
(SELECT COUNT(*) FROM Recipe) - COUNT(r.name) 'Unused'
FROM Ingredient i
LEFT JOIN RecipeIngredient ri
ON(i.id = ri.ingredient)
LEFT JOIN Recipe r
ON(r.id = ri.recipe)
GROUP BY i.name
ORDER BY i.id

 * sqlite://
Done.

[('Vodka', 'Slow Comfortable Screw In Between the Sheets, Stoner Delight, Vodka', 3, 5),
 ('Rum', None, 0, 8),
 ('Sherry', None, 0, 8),
 ('Whiskey', 'Whiskey', 1, 7),
 ('Cherry', None, 0, 8),
 ('Orange', None, 0, 8),
 ('Olive', None, 0, 8),
 ('Gin', 'Leap Year Cocktail', 1, 7),
 ('Lemon Juice', 'Leap Year Cocktail', 1, 7),
 ('Orange Gin', 'Leap Year Cocktail', 1, 7),
 ('Sweet Vermouth', 'Leap Year Cocktail', 1, 7),
 ('7-Up', 'Stoner Delight', 1, 7),
 ('Cranberry Juice', 'Purple Gecko, Stoner Delight', 2, 6),
 ('Dekuyper Razzmatazz', 'Stoner Delight', 1, 7),
 ('Orange Juice', 'Slow Comfortable Screw In Between the Sheets, Stoner Delight', 2, 6),
 ('Sour Mix', 'Purple Gecko, Stoner Delight', 2, 6),
 ('Dry Cider', 'Snakebite (UK)', 1, 7),
 ('Lager', 'Snakebite (UK)', 1, 7),
 ('Sloe Gin', 'Slow Comfortable Screw In Between the Sheets', 1, 7),
 ('Southern Comfort', 'Slow Comfortable Screw In Between the Sheets', 1, 7),
 ('Triple Sec', 'Slow Comfortable Screw In Between the Sheets', 1, 7),
 ('Blue Curacao', 'Purple Gecko', 1, 7),
 ('Lime Juice', 'Purple Gecko', 1, 7),
 ('Red Curacao', 'Purple Gecko', 1, 7),
 ('Tequila', 'Purple Gecko, Tequila', 2, 6)]

<details>
<summary>Answer</summary>

```sql
SELECT i.name,
       COUNT(ri.recipe) as used_in_recipes,
       (SELECT COUNT(*) FROM Recipe) - COUNT(ri.recipe) as not_used_in_recipes
FROM Ingredient i
LEFT JOIN RecipeIngredient ri ON i.id = ri.ingredient
GROUP BY i.name
ORDER BY i.name DESC;
```

</details>

#### **5. Find the names of recipes that do not contain 'Gin' as an ingredient and order the results in descending order by recipe name.** ✅

In [18]:
%%sql

SELECT r.name 'Recipe'
FROM Recipe r
WHERE r.id NOT IN (
    SELECT ri.recipe
    FROM RecipeIngredient ri
    JOIN Ingredient i
    ON(ri.ingredient = i.id)
    WHERE i.name LIKE 'Gin'
)
ORDER BY r.name DESC

 * sqlite://
Done.

[('Whiskey',),
 ('Vodka',),
 ('Tequila',),
 ('Stoner Delight',),
 ('Snakebite (UK)',),
 ('Slow Comfortable Screw In Between the Sheets',),
 ('Purple Gecko',)]

<details>
<summary>Answer</summary>

```sql
SELECT r.name
FROM Recipe r
WHERE r.id NOT IN (
    SELECT ri.recipe
    FROM RecipeIngredient ri
    JOIN Ingredient i ON ri.ingredient = i.id
    WHERE i.name = 'Gin'
)
ORDER BY r.name DESC;
```

</details>

#### **6. List the top three most common ingredients across all recipes.**

<details>
<summary>Answer</summary>

```sql
SELECT i.name, COUNT(ri.recipe) as recipe_count
FROM Ingredient i
JOIN RecipeIngredient ri ON i.id = ri.ingredient
GROUP BY i.name
ORDER BY recipe_count DESC
LIMIT 3;
```

</details>

#### **7. Find recipes that contain both 'Vodka' and 'Lemon Juice' as ingredients.**

<details>
<summary>Answer</summary>

```sql
SELECT r.name
FROM Recipe r
JOIN RecipeIngredient ri1 ON r.id = ri1.recipe
JOIN Ingredient i1 ON ri1.ingredient = i1.id
JOIN RecipeIngredient ri2 ON r.id = ri2.recipe
JOIN Ingredient i2 ON ri2.ingredient = i2.id
WHERE i1.name = 'Vodka' AND i2.name = 'Lemon Juice';
```

</details>

#### **8. List the names of all recipes and their corresponding ingredient count, only include recipes with at least three ingredients.**

<details>
<summary>Answer</summary>

```sql
SELECT r.name, COUNT(ri.ingredient) as ingredient_count
FROM Recipe r
JOIN RecipeIngredient ri ON r.id = ri.recipe
GROUP BY r.name
HAVING COUNT(ri.ingredient) >= 3;
```

</details>

#### **9. List the names of recipes along with the total number of ingredients they contain, ordering the results by the number of ingredients in ascending order.**

<details>
<summary>Answer</summary>

```sql
SELECT r.name, COUNT(ri.ingredient) as ingredient_count
FROM Recipe r
JOIN RecipeIngredient ri ON r.id = ri.recipe
GROUP BY r.name
ORDER BY ingredient_count ASC;
```

</details>

#### **10. Find all ingredients that are not used in any recipe.**

<details>
<summary>Answer</summary>

```sql
SELECT name
FROM Ingredient
WHERE id NOT IN (SELECT ingredient FROM RecipeIngredient);
```

</details>